.DS_Store
node_modules
dist/
html/
src/assets/css/theme/*
!src/assets/css/theme/index.css
!src/assets/css/theme/fonts
shell/

# docker
docker_centos1/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

